body {
  background: #022b4a;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  margin: 0 120px;
}

.header .row {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 50px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header .col-md-6 {
  align-content: center;
}

.header .logo {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.btn-login-nav {
  border: 2px solid #ffc107;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
}
.btn-header {
  display: flex;
  gap: 20px;
}
.btn-register-nav {
  background: #ffc107;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}

.btn-register-nav:hover {
  background: #e0a800;
}

.header .menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.header .menu .list {
  gap: 20px;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}

.header .menu .list a .drop {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.hero {
  margin-top: 30px;
}

.hero-box {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.hero-box img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 54px;
}

.hero-content span {
  color: #00c3ff;
}

.hero-content p {
  margin-top: 15px;
  opacity: 0.9;
  font-size: 22px;
}

.btn-daftar-home {
  margin-top: 20px;
  background: #ffc107;
  border: none;
  padding: 9.5px 50px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 22px;
  transition: 0.3s;
}

.btn-daftar-home:hover {
  background: #e0a800;
}

.modal-mahasiswa {
  position: absolute;
  top: 130px;
  right: 350px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  width: 380px;
  display: none;
  flex-direction: column;
  gap: 18px;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.modal-mahasiswa a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  font-weight: 500;
}

.modal-mahasiswa a:hover {
  color: #000;
}

/* style pendaftaran */
/* SECTION PENDAFTARAN */

.pendaftaran-box {
  background: #0f2a47;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #ffc107;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.pendaftaran-img img {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.pendaftaran-content {
  padding: 30px;
  color: white;
  height: 100%;
  align-content: center;
}

.pendaftaran-content h2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 45px;
}

.pendaftaran-content h2 span {
  display: block;
}

.pendaftaran-content span {
  color: #00c3ff;
}

.pendaftaran-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.btn-group-daftar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-daftar {
  background: #ffc107;
  padding: 27px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}

.btn-daftar:hover {
  background: #e6ac00;
  color: black;
}

.pendaftaran-box {
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .pendaftaran-img img {
    height: 100.3vh;
  }
}

@media (max-width: 768px) {
  .pendaftaran-img img {
    height: 100%;
  }
}

/* Style Form */
/* FORM CIK */

/* container */

.form-container {
  max-width: 1200px;
  margin: auto;
}
/* BOX */

.form-box {
  background: #f2f2f2;
  padding: 45px 150px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* LOGO */

.form-logo {
  text-align: center;
  margin-bottom: 40px;
}

.form-logo img {
  width: 120px;
  height: 151px;
  margin-bottom: 10px;
}

.form-logo h2 {
  font-weight: 600;
  font-size: 40px;
}

/* FORM */

.form-input {
  border-radius: 10px;
  height: 65px;
  border: 2px solid #333;
}

/* BUTTON */

.btn-submit {
  background: #ffc107;
  border: none;
  padding: 9.5px 50px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 22px;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #e0a800;
}

/* LOGIN SECTION */
/* TEXT REGISTER */

.login-text {
  font-size: 16px;
  margin: 16px 0 0 0;
}

.login-text a {
  color: #ffc107;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.login-text a:hover {
  color: #e0a800;
}
/* style H2 form pendaftaran mahasiswa */

.form-title {
  text-align: center;
  margin-bottom: 40px;
}

.form-title h1 {
  font-size: 36px;
  font-weight: 600;
}

.form-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1aa6c9;
}

.form-line {
  width: 100%;
  height: 3px;
  background: #000;
  margin: 20px 0 30px 0;
}

/* dropdown style */
.form-input select,
select.form-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("img/down.png");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;

  padding-right: 12px;
  cursor: pointer;
}

/* CSS TABEL DATA */

.data-table {
  padding: 10px 20px 100px 20px;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* INPUT */
.search-box input {
  padding: 15px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 300px;
  background: #eee;
  font-size: 13px;
}

/* BUTTON */
.btn-search {
  background: #f7c100;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-search img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  object-position: center;
}

.btn-search:hover {
  background: #e6b000;
}

.data-table .mac-header {
  margin: 25px 30px 25px 0;
}

.table-container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  background: #fff;
  padding: 1px 30px 35px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 900px;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid #eee;
  border-radius: 12px;
}

thead {
  background: #f7c100;
}

thead th {
  color: #000;
  padding: 14px;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
}

thead th:first-child {
  border-top-left-radius: 12px;
}

thead th:last-child {
  border-top-right-radius: 12px;
}

.data-table .admin thead th:last-child {
  border-top-right-radius: 12px;
  width: 170px !important;
}

tbody td {
  padding: 12px;
  font-size: 13px;
  color: #333;
  text-align: center;
  word-break: break-word;
}

tbody tr:hover {
  background: #f9f9ff;
}

.aksi {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.data-table .edit {
  background-color: #00cbf8;
  padding: 10px;
}
.data-table .hapus {
  background-color: #ff6666;
  padding: 10px;
}
.data-table table img {
  height: 28px;
  width: 28px;
  object-fit: cover;
  object-position: center;
}
