body {
  background: #022b4a;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  margin: 0 120px;
}

.header .row {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 50px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header .col-md-6 {
  align-content: center;
}

.header .logo {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.btn-login {
  border: 2px solid #ffc107;
  border-radius: 20px;
  padding: 10px 40px;
  background: transparent;
}
.btn {
  display: flex;
  gap: 20px;
}
.btn-register {
  background: #ffc107;
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
}

.header .menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.header .menu .list {
  gap: 20px;
  display: flex;
  align-items: center;
}

.header .menu .list a .drop {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.hero {
  margin-top: 30px;
}

.hero-box {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.hero-box img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 54px;
}

.hero-content span {
  color: #00c3ff;
}

.hero-content p {
  margin-top: 15px;
  opacity: 0.9;
  font-size: 22px;
}

.btn-daftar{
    margin-top:20px;
    background:#ffc107;
    border:none;
    padding:10px 30px;
    border-radius:10px;
}

.modal-mahasiswa{
    position:absolute;
    top:130px;
    right:280px;
    background: #FFF;
    padding:25px 30px;
    border-radius:15px;
    width:380px;

    display:none;
    flex-direction:column;
    gap:18px;
    z-index: 9999;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.modal-mahasiswa a{
    text-decoration:none;
    color:#111;
    font-size:20px;
    font-weight:500;
}

.modal-mahasiswa a:hover{
    color:#000;
}
