body {
  background: #022b4a;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  margin: 0 120px;
}

.header .row {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 50px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header .col-md-6 {
  align-content: center;
}

.header .logo {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.btn-login-nav {
  border: 2px solid #ffc107;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
}
.btn {
  display: flex;
  gap: 20px;
}
.btn-register-nav {
  background: #ffc107;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.header .menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.header .menu .list {
  gap: 20px;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}

.header .menu .list a .drop {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.hero {
  margin-top: 30px;
}

.hero-box {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.hero-box img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 54px;
}

.hero-content span {
  color: #00c3ff;
}

.hero-content p {
  margin-top: 15px;
  opacity: 0.9;
  font-size: 22px;
}

.btn-daftar-home {
  margin-top: 20px;
  background: #ffc107;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.modal-mahasiswa {
  position: absolute;
  top: 130px;
  right: 280px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  width: 380px;
  display: none;
  flex-direction: column;
  gap: 18px;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.modal-mahasiswa a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  font-weight: 500;
}

.modal-mahasiswa a:hover {
  color: #000;
}

/* style pendaftaran */
/* SECTION PENDAFTARAN */

.pendaftaran-box {
  background: #0f2a47;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #ffc107;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.pendaftaran-img img {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.pendaftaran-content {
  padding: 30px;
  color: white;
  height: 100%;
  align-content: center;
}

.pendaftaran-content h2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 45px;
}

.pendaftaran-content h2 span {
  display: block;
}

.pendaftaran-content span {
  color: #00c3ff;
}

.pendaftaran-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.btn-group-daftar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-daftar {
  background: #ffc107;
  padding: 27px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}

.btn-daftar:hover {
  background: #e6ac00;
  color: black;
}

.pendaftaran-box {
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .pendaftaran-img img {
    height: 100.3vh;
  }
}

@media (max-width: 768px) {
  .pendaftaran-img img {
    height: 100%;
  }
}

/* Style Registrasi */
/* REGISTRASI CIK */

/* container */
.col-lg-8 {
  width: 1200px;
  margin: 0 360px 0 360px;
}
/* BOX */

.form-box {
  background: #f2f2f2;
  padding: 45px 150px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* LOGO */

.form-logo {
  text-align: center;
  margin-bottom: 40px;
}

.form-logo img {
  width: 120px;
  height: 151px;
  margin-bottom: 10px;
}

.form-logo h2 {
  font-weight: 600;
  font-size: 40px;
}

/* FORM */

.form-input {
  border-radius: 10px;
  height: 65px;
  border: 2px solid #333;
}

/* BUTTON */

.btn-submit {
  background: #ffc107;
  border: none;
  padding: 9.5px 50px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 22px;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #e0a800;
}

/* LOGIN SECTION */
/* TEXT REGISTER */

.login-text {
  font-size: 16px;
  margin: 16px 0 0 0;
}

.login-text a {
  color: #ffc107;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.login-text a:hover {
  color: #e0a800;
}
